{{> header}}

{{!-- comments: []
email: "q2kforeveralon3@gmail.com"
idFromFirebase: "1jNY1AmkgyX4Do4vwOWN"
images: []
likes: 0
phonenumber: "0988946552"
uid: "w3RMpdybCian5gZaHoQcFvXYCXy2"  --}}

<div class="share-story-btn-wrapper">
  <a href="#/sections/stories/create" class="create-story-btn" type="submit">Share your story</a>
</div>
<div class="stories-section-wrapper">
  <div class="stories">

    {{#each stories}}

    <div class="current-story-dashboard">
      <div class="display-pictures.dashboard">
        {{#each images}}
        <img class="story-image-render" src="{{src}}" alt="">
        {{else}}
        <h5 class="text-center">NO STORY PICTURES</h5>
        {{/each}}
      </div>
      <div class="story-title">
        <h3>{{title}}</h3>
      </div>
      <p class="by-story-article-owner">by</p>
      <p class="story-article-owner">{{authorName}}</p>
      <div class="story-paragraph">
        <p>{{description}}</p>
        <a href="#/story/details/{{idFromFirebase}}" class="btn btn-success">See the entire story</a>
      </div>
    </div>
    {{else}}
    <h1 class="text-center">No stories yet. Be the first to post a story!</h1>
    {{/each}}

  </div>
</div>


{{> footer}}