{{> header}}
<div class="stories-top-section">
  <div class="share-story-btn-wrapper">
    <a href="#/sections/stories/create" class="create-story-btn" type="submit">Share your story</a>
  </div>

  <div class="stories-dropdown-container">
    <div class="stories-dropdown-btn-wrapper">
      <button class="story-option-dropbtn"> Story sorting options
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="story-option-dropdown-content">
        <a class="order-by-description-desc">By description (descending)</a>
        <a class="order-by-description-asc">By description (ascending)</a>
        <a class="order-by-date-asc">By date (ascending)</a>
        <a class="order-by-date-desc">By date (descending)</a>
        <a class="order-by-likes-asc">By likes (ascending)</a>
        <a class="order-by-likes-desc">By likes (descending)</a>
      </div>
    </div>
  </div>
</div>

<div class="stories-section-wrapper">
  <div class="stories">

    {{#each stories}}

    <div class="current-story-dashboard">
      <p class="story-publish-date" style="display: none;">{{publishDate}}</p>
      <div class="display-pictures.dashboard">

        {{#each images}}
        <img class="story-image-render" src="{{src}}" alt="">
        {{else}}
        <h5 class="stories-no-story-picture">NO STORY PICTURES</h5>
        {{/each}}
      </div>
      <div class="story-title">
        <h3>{{title}}</h3>
      </div>
      <p class="by-story-article-owner">by</p>
      <p class="story-article-owner">{{authorName}}</p>
      <div class="story-paragraph">
        <p>{{description}}</p>
      </div>
      <div class="see-the-whole-story-wrapper">
        {{!-- <div class="details-likes-wrapper"> --}}
        <p id="details-likes" style="display: none;">{{likes}}</p>
        {{!-- </div> --}}
        <a href="#/story/details/{{idFromFirebase}}" class="see-the-whole-story">See the whole story</a>
        {{#if isAuthor}}
        <div class="authors-story-dot" style="display: block;"></div>
        {{else}}
        {{/if}}

      </div>
    </div>


    {{else}}
    <h1 class="text-center">No stories yet. Be the first to post a story!</h1>
    {{/each}}

  </div>
</div>

{{> footer}}