{{> header}}

<div class="home-content">
  {{!-- <div class="home-content-wrapper"> --}}
    <section class="head-pic-wrapper">
      {{!-- <img src="../images/rescued-dog-header.png" class="head-pic"> --}}
      <h2 class="featurette-heading">Be part of a <span class="text-highlighted">better world</span>!</h2>
    </section>

    <section class="stories-section-wrapper">
      <br><br><br><br>

      <div class="stories">
        {{#each stories}}

        <div class="current-story">
          <div class="rescued-animal-img-wrapper">
            {{#if images}}
            <img class="story-image-render" src="{{mainPicture.src}}" alt="">
            {{else}}
            <h5 class="no-story-img">No images</h5>
            {{/if}}
          </div>
          <div class="story-title">
            <h3>{{title}}</h3>
          </div>
          <p class="by-story-article-owner">by</p>
          <p class="story-article-owner">{{authorName}}</p>
          <div class="story-paragraph">
            <p>{{description}}</p>
          </div>

          <div class="see-the-whole-story-wrapper">
            <a href="#/story/details/{{idFromFirebase}}" class="see-the-whole-story">See the whole story</a>
          </div>
        </div>
        {{else}}
        <h1 class="text-center">No stories yet. Be the first to post a story!</h1>
        {{/each}}

      </div>
    </section>

    <br /><br /><br /><br /><br />
  {{!-- </div> --}}
</div>
{{> footer}}